
<div class="row">
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="card-body">
                <div class="row button-group">
                    <div class="col-lg-2 col-md-4">
                        <button type="button" id="button-1" class="btn waves-effect waves-light btn-block btn-info">Кнопка 1</button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <button type="button" id="button-2" class="btn waves-effect waves-light btn-block btn-success">Кнопка 2</button>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <button type="button" id="button-3" class="btn waves-effect waves-light btn-block btn-primary">Кнопка 3</button>
                    </div>

                    <svg id="spinner-test" class="circular-test" viewBox="25 25 50 50" style="display:none">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-8 col-md-7">

        <partial name="/Views/Test/Form1.cshtml" />
        <partial name="/Views/Test/Form2.cshtml" />
        <partial name="/Views/Test/Form3.cshtml" />

    </div>   

</div>






<script src="/itaras/testforms.js"></script>
